:root {
    --color-primary-10: #FFF3F3;
    --color-primary-30: #FF7370;
    --couleur-rouge-50: #FC5757;
    --couleur-rouge-70: #D4524F;
    --color-primary-90: #A63633;
    --color-tertiary-10: #E3F8FB;
    --color-tertiary-30: #A8EAF3;
    --color-tertiary-50: #00c0db;
    --color-tertiary-70: #00AAC1;
    --color-quaternary-10: #FFFBED;
    --color-quaternary-30: #fcf45e;
    --color-quaternary-50: #f6ff00;
    --color-quaternary-70: #F0B021;
    --color-brand-secondary-10: #E4EAFF;
    --color-brand-secondary-30: #264FFA;
    --color-brand-secondary-50: #0529FC;
    --color-brand-secondary-70: #0833BD;
    --couleur-neutre-0: #FFF;
    --couleur-neutre-10: #FCFCFC;
    --couleur-neutre-20: #f7f7f5;
    --couleur-neutre-30: #e8e6e2;
    --couleur-neutre-40: #737370;
    --couleur-neutre-50: #4B4B4B;
    --couleur-neutre-60: #333330;
    --couleur-neutre-65: #212529;
    --couleur-neutre-70: #181818;
    --color-state-disabled-border: #E0DED9;
    --color-state-disabled-background: #E0DED9;
    --color-text-disabled: #E0DED9;
    --color-success-10: #F2F8E9;
    --color-success-50: #07e463;
    --color-success-90: #659B1C;
    --color-information-10: #EAF5FF;
    --color-information-50: #2FA0FC;
    --color-information-90: #175DB5;
    --color-warning-10: #FEF6E7;
    --color-warning-50: #F2A10C;
    --color-warning-90: #AE6606;
    --color-error-10: #FCEAEA;
    --font-family-general: "Manrope", sans-serif;
    --font-family-title: Agrandir Tight, Arial, Helvetica, sans-serif;
    --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    --border: 1px solid #f7f7f5;
    --huge-title: clamp(3rem, 2.1795rem + 4.1026vw, 5rem);
    --huge-title--title: clamp(2.3rem, 1.6795rem + 3.6026vw, 4.2rem);
    --big-title: clamp(2rem, 1.5897rem + 2.0513vw, 3rem);
    --med-title: clamp(1.5rem, 1.2949rem + 1.0256vw, 2rem);
    --lil-title: clamp(1.4rem, 1.14rem + 0.8vw, 2rem);
    --plain-text: clamp(0.875rem, 0.8237rem + 0.2564vw, 1rem);
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}